@import url("/fonts/fonts-colus/stylesheet.css");
@import url("/fonts/fonts-gilroy/stylesheet.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Gilroy", sans-serif;
}

.project-background {
  background-color: #faf8ed;

  .project-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 7%;

    .project-title {
      text-align: center;
      font-size: 28px;
      color: #1e1e1e;
      font-weight: 400;
      padding-top: 7%;
      padding-bottom: 1%;
      font-family: "Colus", sans-serif;

      @media (max-width: 768px) {
        font-size: 20px;
      }

      @media (max-width: 600px) {
        font-size: 18px;
      }

      @media (max-width: 425px) {
        font-size: 14px;
      }
    }

    .randome {
      position: relative;

      .randomeButton {
        padding: 4px 4px;
        margin-left: 38%;
        border-radius: 25px;
        background-color: #faf8ed;
        font-size: 14px;
        font-weight: 100;
        margin-bottom: 5%;
        border: 2px dotted #a1a1a1;
        color: #706f6f;
        transition: 0.5s;

        &pressed-button:hover {
          box-shadow: 0 0 0 0 #eac9e2;
          background-position: 0 0;
        }

        @media (max-width: 768px) {
          margin-top: 1%;
          font-size: 10px;
          margin-left: 40%;
        }

        @media (max-width: 600px) {
          font-size: 8px;
          padding: 2px 2px;
        }
      }

      .randome-array {
        width: 1.5%;
        position: absolute;
        margin-top: 2%;
        margin-left: -1%;

        @media (max-width: 768px) {
          margin-top: 3%;
        }

        @media (max-width: 600px) {
          margin-top: 4%;
        }
      }
    }

    .main {
      display: flex;
      width: 100%;
      justify-content: center;

      #button-left,
      #button-right {
        width: 5%;
        border: none;
        background-color: #faf8ed;
        margin: 15% auto;
        position: relative;

        &:hover {
          transform: scale(1.4);
          transition: 0.5s;
        }
      }

      #project-reviews {
        width: 75%;

        @media (max-width: 768px) {
          width: 65%;
        }

        .review {
          border-radius: 180px 0 0 0;
          background-color: #f8f8f8;
          display: flex;
          margin-bottom: 10%;
          box-shadow: 2px 2px 40px #c8c6c6;

          @media (max-width: 1024px) {
            box-shadow: 2px 2px 30px #c8c6c6;
            border-radius: 160px 0 0 0;
          }

          @media (max-width: 768px) {
            box-shadow: 2px 2px 20px #c8c6c6;
            border-radius: 160px 0 0 0;
          }

          @media (max-width: 600px) {
            border-radius: 140px 0 0 0;
          }

          @media (max-width: 425px) {
            border-radius: 120px 0 0 0;
          }

          @media (max-width: 375px) {
            border-radius: 100px 0 0 0;
          }

          #review-content {
            display: flex;
            background-image: url(/images/blur.png);
            background-size: 100%;
            background-repeat: no-repeat;
            border-radius: 180px 0 0 0px;

            @media (max-width: 768px) {
              border-radius: 160px 0 0 0;
            }

            @media (max-width: 600px) {
              border-radius: 140px 0 0 0;
            }

            @media (max-width: 425px) {
              border-radius: 120px 0 0 0;
            }

            @media (max-width: 375px) {
              border-radius: 100px 0 0 0;
            }

            .review-image {
              width: 50%;
              position: relative;
            }
            .review-person {
              width: 100%;
              margin-top: -18%;
              margin-left: 8%;
              position: relative;

              @media (max-width: 600px) {
                width: 140%;
                margin-top: -25%;
                margin-left: -15%;
              }

              @media (max-width: 425px) {
                width: 160%;
                margin-top: 55%;
              }

              @media (max-width: 375px) {
                display: none;
              }
            }

            .review-list {
              width: 65%;
              padding-left: 6%;
              padding-right: 6%;
              animation-name: anima;
              animation-duration: 1s;

              @media (max-width: 600px) {
                width: 100%;
                padding-left: 7%;
                padding-right: 7%;
              }

              @media (max-width: 425px) {
                width: 150%;
                padding-left: 10%;
                padding-right: 5%;
              }

              @media (max-width: 375px) {
                padding-left: 5%;
              }

              @keyframes anima {
                from {
                  opacity: 0.1;
                }
                to {
                  opacity: 1;
                }
              }

              .review-point {
                width: 20%;
                padding-top: 8%;
                padding-bottom: 3%;

                @media (max-width: 768px) {
                  width: 15%;
                }

                @media (max-width: 425px) {
                  border-radius: 100px 0 0 0;
                  width: 12%;
                }

                @media (max-width: 375px) {
                  width: 10%;
                }
              }

              .review-title {
                font-size: 20px;
                font-weight: 400;
                color: #1e1e1e;
                font-family: "Colus", sans-serif;

                @media (max-width: 1000px) {
                  font-size: 24px;
                }

                @media (max-width: 768px) {
                  font-size: 16px;
                }

                @media (max-width: 600px) {
                  font-size: 14px;
                }

                @media (max-width: 425px) {
                  font-size: 12px;
                  text-shadow: none;
                  padding-top: 3%;
                }

                @media (max-width: 375px) {
                  font-size: 10px;
                  text-shadow: none;
                  padding-top: 5%;
                }
              }

              .review-stack {
                font-size: 15px;
                padding-top: 2%;
                font-weight: 400;
                font-family: "Gilroy", sans-serif;

                @media (max-width: 768px) {
                  font-size: 8px;
                }

                @media (max-width: 600px) {
                  font-size: 7px;
                }

                @media (max-width: 425px) {
                  font-size: 5px;
                }
              }

              .review-text {
                padding-top: 10%;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.2;

                @media (max-width: 1000px) {
                  font-size: 12px;
                  padding-top: 5%;
                  line-height: 1.3;
                }

                @media (max-width: 768px) {
                  font-size: 9px;
                  line-height: 1.2;
                  padding-top: 3%;
                }

                @media (max-width: 600px) {
                  font-size: 8px;
                  line-height: 1.2;
                }

                @media (max-width: 425px) {
                  font-size: 7px;
                  line-height: 1.2;
                }
              }

              .review-author {
                padding-top: 5%;
                font-weight: 400;
                font-size: 13px;
                line-height: 1.2;

                @media (max-width: 1000px) {
                  font-size: 12px;
                }

                @media (max-width: 768px) {
                  font-size: 10px;
                }

                @media (max-width: 600px) {
                  font-size: 7px;
                }

                @media (max-width: 375px) {
                  font-size: 6px;
                }

                span {
                  font-weight: 700;
                  font-size: 14px;

                  @media (max-width: 1000px) {
                    font-size: 12px;
                  }

                  @media (max-width: 768px) {
                    font-size: 10px;
                  }

                  @media (max-width: 600px) {
                    font-size: 7px;
                  }

                  @media (max-width: 375px) {
                    font-size: 6px;
                  }
                }
              }

              .reviewDateArray {
                .review-date {
                  font-weight: 400;
                  font-size: 13px;
                  padding-top: 5%;
                  padding-bottom: 10%;

                  @media (max-width: 768px) {
                    font-size: 8px;
                    padding-bottom: 1%;
                  }

                  @media (max-width: 425px) {
                    font-size: 6px;
                  }

                  @media (max-width: 375px) {
                    font-size: 6px;
                    padding-bottom: 2%;
                  }
                }
              }
            }
          }
        }
      }
    }

 }
}
