* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.project-background {
  background-color: #e7dcff;

  .project-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 5%;

    .project-title {
      text-align: center;
      font-size: 36px;
      color: rgb(155, 27, 219);
      font-weight: 900;
      padding-top: 7%;
      padding-bottom: 5%;
    }

    #project-reviews {
      width: 100%;

      .review {
        width: 70%;
        border-radius: 180px 0 0 0;
        background-color: #f8f8f8;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10%;
        padding-bottom: 1%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        #review-content {
          display: flex;
          background-image: url(/images/blur.png);
          background-position: left top;
          background-size: 133%;
          background-repeat: no-repeat;

          .review-image {
            width: 50%;
          }
          .review-person {
            width: 80%;
            margin-top: 30%;
            margin-left: 5%;
          }

          .review-list {
            width: 50%;
            padding-right: 2%;

            .review-point {
              width: 10%;
              padding-top: 7%;
            }

            .review-title {
              font-size: 34px;
              font-weight: 600;
              font-family: "Marck Script", cursive;
              color: #fe6dbf;
              padding-top: 2%;
             
            }

            .review-stack {
              font-size: 12px;
              padding-top: 2%;
            
            }

            .review-text {
              padding-top: 10%;
              font-weight: 500;
              font-size: 14px;
              line-height: 1.5;
              text-align: justify;
              padding-right: 5%;
            }

            .review-author {
              padding-top: 5%;
              font-weight: 600;
              font-size: 14px;
              line-height: 1.2;
            }

            .reviewDateArray {
              .review-date {
                font-weight: 300;
                font-size: 12px;
                padding-top: 7%;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 3% 0 3%;

        #button-right,
        #button-left {
          width: 60px;
          height: 60px;
          border: 1px solid;
          border-radius: 30px;
          color: rgb(155, 27, 219);
        }

        .review-button {
          width: 100%;
        }
      }
    }
  }
}
